@import '/styles/variables.scss';

.container {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

.image_container {
    height: 150px;
    width: 150px;
    position: relative;

    img {
        border-radius: 20px;
        width: 100%;
        object-position: center center;
        object-fit: cover;
    }

    @include mobile() {
        width: 100%;
        height: 300px;
    }
}

.data {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.info {
    display: flex;
    justify-content: start;
    flex-direction: column;
}