@import '/styles/variables.scss';

.tabs {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    text-align: center;
    background-color: $grey-secondary-bg;
    border-radius: 10px;
    padding: 10px 15px;
  }

  @include media(no-mobile-screens) {
    flex-direction: row;
  }
}

.game {
  display: flex;
  justify-content: center;
}
