@import '/styles/variables.scss';

.game {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  background-color: $grey-secondary-bg;
  position: relative;
  border-radius: 10px;

  img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }

  @include media(no-mobile-screens) {
    width: 390px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;

  @include media(no-mobile-screens) {
    flex-direction: row;
  }
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
