@import '/styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}

.logo {
  fill: $title;
}

.links {
  display: flex;
  gap: 10px;
}
