@import '/styles/variables.scss';

.form {
  display: flex;
  gap: 15px;
  flex-direction: column;

  button {

    height: fit-content;
  }

  @include media(no-mobile-screens) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.input_container {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  flex-direction: column;

  input {
    width: 100%;
    color: $title;
    font-size: 16px;
    padding: 7px 15px;
    border: 1.5px solid $body-secondary;
    border-radius: 10px;
    background-color: inherit;
    transition: 0.2s;
  }

  @include media(no-mobile-screens) {
    width: auto;
  }
}
