@import '/styles/variables.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 30px 0;
}

.counts {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;

  li {
    display: flex;
    justify-content: center;
  }
}
