@import '/styles/variables.scss';

.banner {
  padding: 15px;
  display: flex;
  gap: 15px;
  margin: 25px 0;
  flex-direction: column;
  border-radius: 15px;
}

.orange_banner {
  @extend .banner;
  border: 1.5px solid $dynamic-default;
}

.blue_banner {
  @extend .banner;
  border: 1.5px solid $static-default;
}
