/* text */
$title: #ffffff;
$body-primary: #ffffff;
$body-secondary: #9e9e9e;

/* background */
$grey-primary-bg: #202329;
$grey-secondary-bg: #3c3e44;
$overlay: rgba(41, 41, 41, 0.3);
$additional: rgba(11, 22, 41, 0.8);

/* primary */
$static-default: #00aede;
$dynamic-default: #de6800;
$primary-default: #2cde00;
$primary-pressed: #d93b3b;
$primary-hover: #ff7575;

$mobile-query: 700px;

@mixin mobile {
  @media (max-width: #{$mobile-query}) {
    @content;
  }
}

$small: 700px;

@mixin media($media) {
  @if $media == no-mobile-screens {
    @media only screen and (min-width: $small) {
      @content;
    }
  }
}
